<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seat Information</title>    
    <link rel="stylesheet" href="seats.css">
</head>
<body>
    <div class="nav">
        <h4 class="back"><a href="/"><button>Back</button></a></h4>
        <h1>CGPA Wise Information</h1><br><br>
    </div>
    <ul>
        <% cgpaData.forEach(function(seat) { %>
            <li>
                <h3><%= seat.name %><br></h3><br>
                <strong>Above 8 - </strong><%= seat.above_8 %><br>
                <strong>Between 6 and 7.99 - </strong><%= seat.between_6_and_8 %><br>
            </li>
            <br><hr><br>
        <% }); %>
    </ul>
</body>
</html>
