<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RMS</title>
    <!-- <link rel="stylesheet" href="home.css"> -->
    <style>
        *{
            margin:0;
            padding: 0;
        }
        body{
            background-color: rgb(30, 30, 30);
            color: white;
        }
        .main{
            margin-top: 10vh;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h1{
            margin-top: 2vh;
        }
        .head{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 10vh;
        }
        button{
            margin-right: 40px;
            width: 180px;
            height: 70px;
            border-radius: 20px;
            border: none;
            color: white;
            font-size: 14pt;
            font-weight: bold;
            background-color: rgb(44, 118, 255);
        }
        button:hover{
            cursor: pointer;
        }
        .one{
            display: flex;
        }
        .two button{
            background-color: rgb(232, 145, 78);
            color: black;
        }
        .two{
            margin-top: 5vh;
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            justify-content: center;
            padding-left: 5vh;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="head">
            <h1>RMS</h1>
            <h1 style="text-align: center;">Rank Management <br> System</h1><br>
            <h3>by Ayush Shukla</h3><br>
        </div>
        <div style="display: flex ; justify-content: center; align-items: center;">
            <h3>Find me on: </h3>
            <a href="https://github.com/ayushshukla8920"><img style="width: 50px; height: 50px; border-radius: 20px; margin-left: 10px;" src="image.png" alt=""></a>
            <a href="https://instagram.com/ayush.shukla8920"><img style="width: 50px; height: 50px; border-radius: 20px; margin-left: 10px;" src="insta.png" alt=""></a>
            <a href="https://linkedin.com/in/ayushshukla8920"><img style="width: 50px; height: 50px; border-radius: 20px; margin-left: 10px;" src="linkedin.png" alt=""></a>
        </div>
        <div class="two">
            <a href="/find_cgpa"><button>Find your CGPA</button></a>
            <a href="/rank-2023"><button style="background-color: rgb(201, 201, 201);">Rank <br> [B.Tech CSE 2023]</button></a>
            <a href="/rank-2024"><button style="color: rgb(255, 255, 255); background-color: rgb(96, 185, 111);">Rank <br>[B.Tech CSE 2024]</button></a>
        </div>
    </div>
</body>
</html>
