<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LPU UMS Minor</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="main">
        <div class="head">
            <h1>RMS</h1>
            <h1>[ Rank Managament System ]</h1><br>
            <h3>by Ayush Shukla</h3><br>
        </div>
        <div style="display: flex ; justify-content: center; align-items: center;">
            <h3>Find me on: </h3>
            <a href="https://github.com/ayushshukla8920"><img style="width: 50px; height: 50px; border-radius: 20px;" src="image.png" alt=""></a>
            <a href="https://instagram.com/ayush.shukla8920"><img style="width: 50px; height: 50px; border-radius: 20px; margin-left: 10px;" src="insta.png" alt=""></a>
            <img src="" alt="">
        </div>
        <div class="two">
            <a href="/find_cgpa"><button>Find your CGPA</button></a>
            <a href="/rank"><button>Find your Rank [B.Tech]</button></a>
        </div>
    </div>
</body>
</html>
