*{
    margin:0;
    padding: 0;
}
body{
    background-color: rgb(30, 30, 30);
    color: white;
}
.main{
    margin-top: 30vh;
    margin-left: 36vw;
}
h1{
    margin-top: 10vh;
    margin-left: 39vw;
}
h3{
    margin-left: 45vw;
}
button{
    margin-right: 40px;
    width: 180px;
    height: 70px;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 14pt;
    font-weight: bold;
    background-color: rgb(44, 118, 255);
}
button:hover{
    cursor: pointer;
}
.one{
    display: flex;
}
.two button{
    background-color: rgb(255, 218, 9);
    color: black;
}
.two{
    display: flex;
    padding-left: 16vh;
    margin-top: 5vh;
}